@model List<Printer>

@section BreadCrumb {
    <li class="crumb-trail" id="currentpage">@Resource.Printer</li>

}
<section>


    <header id="topbar" class="ph10">
        <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">

                <li>
                    <a href="/StoreSetting">@Resource.Global @Resource.Settings</a>
                </li>               

                <li>
                    <a href="/Outlet">@Resource.Outlets</a>
                </li>
                <li >
                    <a href="/Terminal">@Resource.Terminals</a>
                </li>
                <li class="active">
                    <a href="/Printer">@Resource.Printer</a>
                </li>
            </ul>
        </div>
        <div class="topbar-right">
            <a class="btn btn-default btn-gradient btn-sm light fw600 mr15 mt5" id="btnAddTerminal">
                <span class="fa fa-plus pr5"></span>
                @Resource.Add @Resource.Printer
              
            </a>
            @*<a class="btn btn-default btn-gradient btn-sm light fw600 mr15" data-toggle="modal" data-target="#addEditModal" href="#">
                <span class="fa fa-plus pr5"></span>
                Add Setting
            </a>*@
        </div>
    </header>

    <div class="pt25">

        <!-- begin: .tray-center -->
        <div class="tray tray-center">
            <div id="terminalcreate">
            </div>
            <div class="panel top mb35">
                
                <div class="panel-body pn">
                    <div class="table-responsive">
                        <table id="tbl_terminal" class="table admin-form theme-warning tc-checkbox-1 fs13">

                            <thead>
                                <tr class="bg-light">
                                    <th class="">@Resource.Location @Resource.Name</th>
                                    <th class="">@Resource.Name</th>
                                   
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-left">@item.LocationName</td>
                                        <td>@item.PrinterName</td>
                                      
                                        <td class="text-right" style="width: 80px;">
                                            <button class="btn btn-primary btn-sm btn-gradient fa fa-edit" onclick="Edit(@item.Id)" type="button"> @Resource.Edit </button>
                                        </td>
                                        <td class="text-right" style="width: 80px;">
                                            <button class="btn btn-danger btn-sm btn-gradient fa fa-trash-o" onclick="Delete(@item.Id);" type="button"> @Resource.Delete </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
     </div>
        </div>

</section>
<!-- Modal -->
<div class="modal fade" id="addEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Resource.Edit @Resource.Printer</h4>
            </div>
            <div class="modal-body">
                <div class="admin-form">
                    <div class="section row">
                        <div class="col-md-12 pn mb10">
                            <div class="form-group">
                                <div class="col-md-3 text-right">
                                    <label class="control-label pt10"> Label Text </label>
                                </div>
                                <div class="col-md-8">
                                    <label class="field prepend-icon" data-toggle="tooltip">
                                        <input class="event-name gui-input br-light light" type="text" value="" placeholder="" name="labelText" title="Label Text">

                                        <label class="field-icon">
                                            <i class="fa fa-comment"></i>
                                        </label>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 pn mb10">
                            <div class="form-group">
                                <div class="col-md-3 text-right pln">
                                    <label class="control-label pt10"> @Resource.Location @Resource.Name </label>
                                </div>
                                <div class="col-md-8">
                                    <label class="field prepend-icon" data-toggle="tooltip">
                                        <input class="event-name gui-input br-light light" type="text" value="" placeholder="" name="LocationName" title="Location">

                                        <label class="field-icon">
                                            <i class="fa fa-tag"></i>
                                        </label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 pn mb10">
                            <div class="form-group">
                                <div class="col-md-3 text-right">
                                    <label class="control-label pt10"> @Resource.Name </label>
                                </div>
                                <div class="col-md-8">
                                    <label class="field prepend-icon" data-toggle="tooltip">
                                        <input class="event-name gui-input br-light light" type="text" value="" placeholder="" name="Name" title="Name">

                                        <label class="field-icon">
                                            <i class="fa fa-building-o"></i>
                                        </label>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-gradient" data-dismiss="modal"><span class="fa fa-times"></span> @Resource.close</button>
                <button type="button" class="btn btn-primary btn-gradient mr10"><span class="fa fa-upload"></span>  @Resource.Save</button>
            </div>
        </div>
    </div>
</div>
 
@section scripts {

    <script>
        $(function () {

            var html = '<a href="/Printer">Printer</a>'
            $('#dsh').html(html);

            $('#printer').addClass('active');
            $('#Settings').addClass('active');
            if (!$('#menuStoreSettings').hasClass('menu-open')) {

                $('#menuStoreSettings').attr('style', '').toggleClass('menu-open');
            }
            $('#btnAddTerminal').click(function () {

                $('#loading').show();

                $.ajax({
                    url: '@Url.Action("Create", "Printer")',
                    type: "GET",
                    success: function (result) {
                        $('#loading').hide();                      
                        $("#terminalcreate").html(result);

                    }
                });
            });

        });
        function Edit(id) {
           

            $.ajax({
                url: '@Url.Action("Create", "Printer")',
                type: "GET",
                data: { id: id },
                success: function (result) {
                    $('#loading').hide();                   
                    $("#terminalcreate").html(result);
                    $('#addEditLabel').text('Edit Printer');

                }
            });
        }

        function Delete(id) {
            if (confirm("@Resource.DeleteConfMsg")) {
                $.ajax({
                    url: '@Url.Action("DeletePrinter", "Printer")',
                    type: "Post",
                    contentType: 'application/json',
                    data: JSON.stringify({ id: id }),
                    success: function (result) {
                        var res = result.Message;
                        var arr = res.split(':');
                        if (arr[0] == "Success") {
                            alert(arr[1]);
                            window.location = '/Printer'
                        }
                        else
                            alert(arr[1]);

                    }
                });
            }
        }


    </script>

}


























