@model IEnumerable<EmployeeLogModel>
<div class="panel-heading">
    @Resource.Log
    <div class="pull-right">
        <button type="button" class="btn btn-default btn-gradient btn-sm" value="Print" onclick="PrintElemt()">
            <i class="fa fa-print"></i> Print
        </button>
    </div>
</div>
<div class="panel-body p20">

    <div id="printArea">
        <table class="table">
            <tr>
                <td colspan="4">
                    <strong>
                        @ViewBag.EmployeeName
                    </strong>
                        @Resource.Log @Resource.Report_From @ViewBag.DTFrom @Resource.Report_To @ViewBag.DTTo
              
                    </td>
            </tr>
            <tr>
                
              
                <th>
                   @Resource.CheckIn
                </th>
                <th>
                    @Resource.CheckOut
                </th>
                <th>
                    @Resource.Hours
                </th>
            
                <th>@Resource.Minutes</th>
            </tr>

            @foreach (var item in Model)
    {
            <tr>
               
               
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Minutes)
                </td>

            </tr>
    }
           
            <tr>
                <td colspan="2" style="border-top:solid 1px Black;">
                    <strong>Total @Resource.Hours</strong>  
                </td>
                <td align="center" style="border-top:solid 1px Black;"><strong> @ViewBag.TotalHours</strong></td>
                <td align="center" style="border-top:solid 1px Black;"><strong>@ViewBag.TotalMinutes</strong></td>
            </tr>
        </table>
    </div>
</div>


<script type="text/javascript">

    function PrintElemt()
    {

        Popup($('#printArea').html());
    }

    function Popup(data)
    {
        var mywindow = window.open('', '@Resource.Employee @Resource.Log', 'height=400,width=600');
        mywindow.document.write('<html><head><title>@Resource.Employee @Resource.Log</title>');
        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10

        mywindow.print();
        mywindow.close();

        return true;
    }

</script>
