@model PrintViewModel

<div class="panel-body p10">
    <div class="row">
        <div class="col-sm-3">@Resource.ReceiptNumber:</div>
        <div class="col-sm-9 pull-left">@Model.ReceiptNo</div>
    </div>
    <div class="row">
        <div class="col-sm-3">@Resource.Date:</div>
        <div class="col-sm-9 pull-left">@Model.ReceiptDate.ToString("yyyy-MM-dd hh:mm")</div>
    </div>
    <div style="width: 370px; white-space: nowrap; margin-top: 10px;">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-left: 0;">@Resource.Articles</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Disc.</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.Items)
                {
                    <tr>
                        <td align="left" style="width: 150px; padding: 0 5px 0 0">@item.ItemName</td>
                        <td align="center">@Math.Round(@item.Quantity, 2)</td>
                        <td align="center">@Math.Round(@item.UnitPrice, 2)</td>
                        <td align="center">@Math.Round(@item.ItemDiscount, 2)</td>
                        <td align="center">@Math.Round(item.GrossAmountDiscounted(), 2)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="width: 370px; white-space: nowrap">
        <table class="table">
            <tbody>
                <tr style="border-top: solid 1px black;">
                    <td align="left" style="width: 254px; padding: 0 5px 0 0">@Resource.Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td align="center">@Math.Round(Model.GrandTotal, 2)</td>
                </tr>
                @if (Model.RoundedAmount != 0)
                {
                    <tr style="border-top:solid 1px black;">
                        <td align="left" style="width: 254px; padding: 0 5px 0 0">@Resource.Report_Rounding</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center">@Math.Round(Model.RoundedAmount, 2)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="width: 370px; white-space: nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-left: 0;">@Resource.Report_Payment</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.Payments)
                {
                    <tr>
                        <td align="left" style="width: 254px; padding: 0 5px 0 0">@item.PaymentRef</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="center">@Math.Round(@item.PaidAmount, 2)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        @if (Model.CashBack > 0)
        {
            <div class="col-lg-2">@Resource.CashBack </div>
            <div class="col-lg-10 pull-left">@Model.CashBack</div>
        }
    </div>
    <div style="width: 370px; white-space: nowrap;">
        <table class="table">
            <thead>
                <tr>
                    <th>@Resource.Report_VATPercent</th>
                    <th>@Resource.Report_VAT</th>
                    <th>@Resource.Report_TotalNet</th>
                    <th>@Resource.Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.VatDetails)
                {
                    <tr>
                        <td>@Math.Round(item.VATPercent, 2)</td>
                        <td>@Math.Round(item.VATTotal, 2)</td>
                        <td>@Math.Round(item.NetAmount, 2)</td>
                        <td>@Math.Round(item.Total, 2)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function PrintElemt() {
        Popup($('#printArea').html());
    }

    function Popup(data) {
        var mywindow = window.open('', 'Order Receipt', 'height=400,width=600');
        mywindow.document.write('<html><head><title>Order Receipt</title>');
        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10

        mywindow.print();
        mywindow.close();

        return true;
    }

</script>
