@{
    Layout = null;
    ViewBag.Title = "Kund";
    List<Orders.Order> Orders = ViewBag.Orders;
}
@using LUE;
<html>
<head>
    <title>Orderhistorik</title>

    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-typeahead.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo.aspnetmvc.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,700,900,100italic,300italic,400italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,800,600' rel='stylesheet' type='text/css'>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo.dataviz.default.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/lue.css" rel="stylesheet">
    <link href="~/css/icons.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/spinner.css" rel="stylesheet">

    <style>
        *, body {
            background: #ffffff;
        }
    </style>

</head>
<body style="background-color: #ffffff !important; padding-top: 20px">
    <div class="container content" style="margin-top:10px">
        <div class="row" style="margin-bottom:20px">
            <div class="col-sm-12">
                <h2 class="category" style="border-bottom: 0;">Min orderhistorik</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-condensed table-striped" id="order-history">
                    <thead>
                        <tr>
                            <th>Ordernummer</th>
                            <th>Datum</th>
                            <th>Restaurang</th>
                            <th>Summa</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Orders.Order order in Orders)
                        {
                            <tr>
                                <td>@order.ID</td>
                                <td>@order.TimeStamp</td>
                                <td>@order.OrderPrinter</td>
                                <td class="cost" data-cost="@order.TotalAmount">@(order.TotalAmount + ":-")</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs btn-receipt" data-k="@order.ID">Visa kvitto</button>
                                </td>
                            </tr>
                            <tr data-r="@order.ID" data-re="true" style="display:none;">
                                <td colspan="5">@order.Receipt</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Totalt antal köp:</td>
                            <td id="total-purchases">@Orders.Count</td>
                            <td>Totalsumma:</td>
                            <td id="total-sum"></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>

                <script type="text/javascript">
                    var closeModalen = function () {
                        $.ajax({
                            cache: false,
                            type: 'GET',
                            url: '/Home/Cancel'
                        });
                    }
                </script>
                <a href="javascript:void(0)" onclick="return closeModalen()">Stäng</a>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var sum = eval($.map($('td.cost'), function (n) {
                return $(n).data('cost');
            }).join("+"));
            $('#total-sum').text(sum + ':-');
        });
        $('.btn-receipt').click(function () {
            var me = $('tr[data-r="' + $(this).data('k') + '"')
            $('tr[data-re="true"]').not(me).hide();
            me.toggle();
        });
    </script>
</body>
</html>