@model DailyCategorySale

<style>
    th {
        padding-left: 11px;
    }
</style>

<div class="panel">
    <div class="panel-heading">Low Stock Report</div>
    <div class="panel-body br-t p12">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                @Resource.Filterby  @Resource.Category
                <select id="filter-category" name="filter-category" class="select2-single form-control">
                    <option value="0"></option>
                </select>
            </div>
            <div class="col-md-2 col-sm-4">
                <br />
                <input type="button" id="btnView" class="btn btn-primary" width="80" value="@Resource.Show" />
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body pn">
        <div class="table-responsive">
            <table id="tbl_low_stock_report" class="table admin-form theme-warning tc-checkbox-1 fs13 " cellspacing="0">
                <thead>
                    <tr class="bg-light">
                        <th style="padding-left: 11px;">@Resource.Category @Resource.Name</th>
                        <th style="padding-left: 11px;">@Resource.Product @Resource.Name</th>
                        <th style="padding-left: 11px;">@Resource.Barcode</th>
                        <th style="padding-left: 11px;">@Resource.Stock @Resource.Quantity</th>
                        <th style="padding-left: 11px;">@Resource.Min @Resource.Stock @Resource.Level</th>
                    </tr>
                </thead>
                <tbody></tbody>


            </table>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-sm-5" id="PrintSale-Report">

    </div>
</div>
<style>

    #tbl_low_stock_report_wrapper .dt-panelmenu {
        margin: 0
    }

    .dt-buttons {
        float: right !important;
        margin-left: 15px;
    }

    .buttons-excel {
        margin-right: 15px;
    }
</style>

<link href="~/Content/DataTables/css/buttons.dataTables.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/buttons.flash.min.js"></script>
<script src="~/Scripts/DataTables/jszip.min.js"></script>
<script src="~/Scripts/DataTables/vfs_fonts.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>


@section scripts{
    <script>

        $(function () {
            $.ajax({
                url: '@Url.Action("GetItemCategories", "Product")',
                type: "GET",
                success: function (result) {
                    var $select = $("#filter-category");
                    $.each(result, function (i, item) {
                        $('<option>', {
                            value: item.CategoryId
                        }).html(item.Name).appendTo($select);
                    });
                }
            });

            catId = $('#filter-category').val();

            tblContent = $('#tbl_low_stock_report').dataTable({
                "bJQueryUI": true,
                "cache": false,
                "bServerSide": true,
                "sAjaxSource": "/Report/LowStockReportAjax",
                "bProcessing": true,
                "buttons": [
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible',
                            format: {
                                body: function (data, row, column, node) {
                                    data = $('<p>' + data + '</p>').text();
                                    return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
                                }
                            }
                        }
                    }
                ],
                "aoColumns": [
                    { "sName": "Category Name", "orderable": true },
                    { "sName": "Product Name", "orderable": true },
                    { "sName": "BarCode", "orderable": true },
                    { "sName": "Stock Quantity", "orderable": true },
                    { "sName": "Min Stock Level", "orderable": false },
                ],
                "info": true,   // control table information display field
                "stateSave": true,  //restore table state on page reload,
                "fnServerData": function (sSource, aoData, fnCallback) {
                    aoData.push({ "name": "catId", "value": catId });
                    $.getJSON(sSource, aoData, function (json) {
                        fnCallback(json);
                    });
                },
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]], "oLanguage": {
                    "oPaginate": {
                        "sPrevious": " ",
                        "sNext": " "
                    }
                },
                "order": [[0, "asc"]],
                "iDisplayLength": 10,
                "aLengthMenu": [
                    [10, 20, 50, -1],
                    [10, 20, 50, "All"]
                ],
                "dom": '<"dt-panelmenu clearfix"lBfr>t<"dt-panelfooter clearfix"ip>'
            });

            $('#LowStockReport').addClass('active');
            $('#Inventory').addClass('active');

            if (!$('#menuinventory').hasClass('menu-open')) {
                $('#menuinventory').attr('style', '').toggleClass('menu-open');
            }

            $("#filter-category").change(function () {
                GetByCategory();
            });

            $("#btnView").click(function () {
                GetByCategory();
            });
        });
        function GetByCategory() {
            catId = $('#filter-category').val();
            tblContent.fnDraw();
        }

    </script>
}
