@model OutletViewModel
<div class="admin-form">
    <div class="alert alert-success" style="display:none;" id="messageBox"></div>
    <div class="alert alert-danger" style="display:none;" id="divError"></div>

    <div class="section row">
        @Html.HiddenFor(m => m.Id)
        <div class="col-md-12 pn mb10">
            <div class="form-group">
                <div class="col-md-3 text-right">
                    <label class="control-label pt10"> @Resource.Email </label>
                </div>
                <div class="col-md-8">
                    <label class="field prepend-icon" data-toggle="tooltip">
                        @Html.TextBoxFor(model => model.Email, new { @class = "event-name gui-input br-light light", @placeholder = Resource.Company + " " + Resource.Email })
                        <label class="field-icon">
                            <i class="fa fa-comment"></i>
                        </label>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12 pn mb10">
            <div class="form-group">
                <div class="col-md-3 text-right">
                    <label class="control-label pt10"> Web URL </label>
                </div>
                <div class="col-md-8">
                    <label class="field prepend-icon" data-toggle="tooltip">
                        @Html.TextBoxFor(model => model.WebUrl, new { @class = "event-name gui-input br-light light", @placeholder = Resource.Company + " "+ Resource.url })
                        <label class="field-icon">
                            <i class="fa fa-comment"></i>
                        </label>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12 pn mb10">
            <div class="form-group">
                <div class="col-md-3 text-right pln">
                    <label class="control-label pt10"> Resource.Phone # </label>
                </div>
                <div class="col-md-8">
                    <label class="field prepend-icon" data-toggle="tooltip">
                        @Html.TextBoxFor(model => model.Phone, new { @class = "event-name gui-input br-light light", @placeholder = Resource.Company+" "+ Resource.Phone })


                        <label class="field-icon">
                            <i class="fa fa-tag"></i>
                        </label>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12 pn mb10">
            <div class="form-group">
                <div class="col-md-3 text-right">
                    <label class="control-label pt10"> @Resource.OrgNo </label>
                </div>
                <div class="col-md-8">
                    <label class="field prepend-icon" data-toggle="tooltip">
                        @Html.TextBoxFor(model => model.OrgNo, new { @class = "event-name gui-input br-light light", @placeholder = Resource.OrgNo })
                        <label class="field-icon">
                            <i class="fa fa-building-o"></i>
                        </label>
                    </label>
                </div>
            </div>
        </div>    
        <div class="col-md-12 pn mb10">
            <div class="form-group">
                <div class="col-md-3 text-right">
                    <label class="control-label pt10"> @Resource.Header @Resource.Text </label>
                </div>
                <div class="col-md-8">
                    <label class="field prepend-icon" data-toggle="tooltip">
                        @Html.TextBoxFor(model => model.HeaderText, new { @class = "event-name gui-input br-light light", @placeholder = Resource.Header + " "+ Resource.Text })
                        <label class="field-icon">
                            <i class="fa fa-building-o"></i>
                        </label>
                    </label>
                </div>
            </div>
        </div>    
        <div class="col-md-12 pn mb10">
            <div class="form-group">
                <div class="col-md-3 text-right">
                    <label class="control-label pt10"> @Resource.Footer @Resource.Text </label>
                </div>
                <div class="col-md-8">
                    <label class="field prepend-icon" data-toggle="tooltip">
                        @Html.TextBoxFor(model => model.FooterText, new { @class = "event-name gui-input br-light light", @placeholder = @Resource.Footer + " " + @Resource.Text })
                        <label class="field-icon">
                            <i class="fa fa-building-o"></i>
                        </label>
                    </label>
                </div>
            </div>
        </div>  
        <div class="col-md-12 pn mb10">
            <div class="form-group">
                <div class="col-md-3 text-right">
                    <label class="control-label pt10"> @Resource.Tax @Resource.Description </label>
                </div>
                <div class="col-md-8">
                    <label class="field prepend-icon" data-toggle="tooltip">
                        @Html.TextBoxFor(model => model.TaxDescription, new { @class = "event-name gui-input br-light light", @placeholder = Resource.Tax + " "+ Resource.Description })
                        <label class="field-icon">
                            <i class="fa fa-building-o"></i>
                        </label>
                    </label>
                </div>
            </div>
        </div>       
    </div>

</div>

<script>
    $(function () {
        $('#btnSaveSetting').click(function () {

            $("#divError").html('');
            $("#divError").hide('');            

            var data = {
                Id: $('#Id').val(),
                Email: $('#Email').val(),
                WebUrl: $('#WebUrl').val(),
                Phone: $('#Phone').val(),
                OrgNo: $('#OrgNo').val(),
                FooterText: $('#FooterText').val(),
                HeaderText: $('#HeaderText').val(),
                TaxDescription: $('#TaxDescription').val()
            };

            $.ajax({
                url: '@Url.Action("Setting", "Outlet")',
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (result) {
                    var res = result.Message;
                    var arr = res.split(':');
                    if (arr[0] == "Success") {
                        $("#messageBox").show();
                        $('#messageBox').html(arr[1]);
                        var tId;

                        $("#messageBox").hide().slideDown();
                        clearTimeout(tId);
                        tId = setTimeout(function () {
                            $("#messageBox").hide();
                            window.location='/Outlet'

                        }, 2000);
                    }
                    else {
                        $("#divError").show();
                        $('#divError').html(arr[1]);
                        var tId;

                        $("#divError").hide().slideDown();
                        clearTimeout(tId);
                        tId = setTimeout(function () {
                            $("#divError").hide();


                        }, 2000);
                    }

                    // $("#PartialProductList").html(result);

                }
            });
        });




    });
</script>
