@model ReadyInvoiceModel


<div class="panel-body">
    <div class="table-responsive" style="float:right">
        <label>
            @Resource.Time : @Convert.ToDateTime(Model.Timestamp).ToString("yyyy-MM-dd hh:mm:ss")
        </label>
        <br />
        <label>
            @Resource.Customer @Resource.Name : @Model.CustomerName
        </label>
    </div>
</div>

<div class="panel-body">
    <div class="table-responsive">
        @if (Model != null && Model.IsMultiCustomerOrders == true)
        {
            <div class="row">
                <div class="alert alert-danger">
                    You have choosesn orders from multiple customers. Choose orders of one customer and try agian.
                </div>
            </div>
        }

        <table id="tbl_invoices" class="table admin-form theme-warning tc-checkbox-1 fs13 " cellspacing="0" width="100%">
            <thead>
                <tr class="bg-light">
                    <th class="">Order @Resource.Number</th>
                    <th class="">@Resource.Report_Payment @Resource.Address</th>
                    <th class="">@Resource.Total</th>
                    <th class="">@Resource.Date</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderViewModel)
                {
                    <tr>
                        <td class="text-left">@item.OrderNoOfDay</td>
                        <td class="text-left">@item.CustomerName</td>
                        <td class="text-left">@Math.Round(item.OrderTotal, 2)</td>
                        <td class="">@Convert.ToDateTime(item.CreationDate).ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="panel-body">
    <label style="float:right">
        @Resource.Total : @Math.Round(Model.InvoiceTotal, 2)
    </label>

</div>