
@model List<ItemViewModel>

<div class="panel-body pn">
    <div class="table-responsive">
        <table id="tbl_palceholder_product" class="table admin-form theme-warning tc-checkbox-1 fs13">
            <thead>
                <tr class="bg-light">
                    <th class="">@Resource.Code</th>
                    <th class="">@Resource.Product Title</th>
                  
                    <th class="">@Resource.Active</th>
                  
                   
                    <th class="text-right"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td class="text-left">@item.Id</td>
                        <td class="text-left">@item.Description</td>
                      
                        <td class="">@item.ActiveStatus</td>
                        <td class="text-right" ><a class="btn btn-danger btn-gradient btn-sm fa fa-trash-o" style="margin-right:2px;" onclick="Delete('@item.Id')"> @Resource.Delete</a></td>
                    </tr>
                }
            </tbody>


        </table>
    </div>
</div>

<script>





    $(function () {

        $('#tbl_palceholder_product').dataTable({
            "bJQueryUI": true,
            "processing": true, // control the processing indicator.

            "info": true,   // control table information display field
            "stateSave": true,  //restore table state on page reload,
            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]], "oLanguage": {
                "oPaginate": {
                    "sPrevious": " ",
                    "sNext": " "
                }
            },
            "order": [[0, "asc"]],
            "iDisplayLength": 25,
            "aLengthMenu": [
              [5, 10, 25, 50, -1],
              [5, 10, 25, 50, "All"]
            ],
            "sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>'

        });


    });


</script>
    

