@model List<ContractViewModel>
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section BreadCrumb {
    <li class="crumb-trail" id="currentpage">@Resource.Company</li>
}

<section>
    <header id="topbar" class="ph10">
        <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">

                <li>
                    <a href="/Admin">@Resource.Company</a>
                </li>
                <li class="active">
                    <a href="/Admin/Contracts">@Resource.Company @Resource.Contract</a>
                </li>
            </ul>
        </div>
        <div class="topbar-right">
            <a class="btn btn-default btn-sm btn-gradient light fw600 mr15 mt5" id="btnAddContract">
                <span class="fa fa-plus pr5"></span>
                @Resource.Add @Resource.Contract
            </a>
        </div>
    </header>



    <!-- begin: .tray-center -->
    <div class="tray tray-center ">
       <input type="hidden" id="hdCompanyId" value="@ViewBag.CompanyId"/>
        <div id="contactcreate">

        </div>
        <div class="panel mt25 top mb35">

            <div class="panel-body pn">
                <div class="table-responsive">
                    <table id="tbl_Company_Contract" class="table admin-form theme-warning tc-checkbox-1 fs13">
                        <thead>
                            <tr class="bg-light">


                                <th class="">@Resource.Description</th>
                                <th class="">@Resource.StartDate @Resource.Date</th>
                                <th class="">@Resource.EndDate @Resource.Date</th>
                                <th class="">@Resource.Deployment @Resource.Date</th>                            
                                <th class="">@Resource.Monthly @Resource.Price</th> 
                                <th class="">POS  @Resource.Version</th> 
                                <th class="">@Resource.Status</th>            
                                <th class=""></th>

                                <th class="text-right"></th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {


                                <tr>

                                    <td class="text-left">@item.Description</td>
                                    <td class="text-left">@item.StartDate.ToString("yyyy-MM-dd")</td>
                                    <td class="">@item.EndDate.ToString("yyyy-MM-dd")</td>
                                    <td class="">@item.Actual_Deployment_Date.ToString("yyyy-MM-dd")</td>
                                    <td class="">@item.MonthlyPrice</td>     
                                    <td class="">@item.POSVersion</td>                                    
                                    <td class="">@item.Status.ToString() </td>
                                    <td class="text-right" style="width: 70px;">

                                        <button type="button" onclick="Edit('@item.Id');" class="btn btn-primary btn-sm  btn-gradient fa fa-edit">
                                            @Resource.Edit
                                        </button>
                                    </td>

                                    <td class="text-right" style="width: 70px;">
                                        <button type="button" onclick="Delete('@item.Id');" class="btn btn-danger btn-sm btn-gradient fa fa-trash-o">
                                            @Resource.Delete
                                        </button>
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>


</section>

<!-- Modal -->
<div class="modal fade" id="addEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Resource.Company</h4>
            </div>
            <div class="modal-body" id="setting">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-gradient" data-dismiss="modal"><span class="fa fa-times"></span> close</button>
                <button type="button" id="btnSaveCompany" class="btn btn-primary btn-gradient mr10"><span class="fa fa-upload"></span>  Save</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>
        $(function () {


            $('#tbl_Company_Contract').dataTable({
                "processing": true, // control the processing indicator.

                "info": true,   // control table information display field
                "stateSave": true,  //restore table state on page reload,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],   // use the first inner array as the page length values and the second inner array as the displayed options
                "order": [[0, "asc"]],
                "iDisplayLength": 25,
                "aLengthMenu": [
                  [5, 10, 25, 50, -1],
                  [5, 10, 25, 50, "All"]
                ],
                "sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>'
        });


            var html = '<a href="/Admin">@Resource.Company</a>'
            $('#dsh').html(html);

            $('#company').addClass('active');
            $('#administration').addClass('active');
            if (!$('#menuadmin').hasClass('menu-open')) {

                $('#menuadmin').attr('style', '').toggleClass('menu-open');
            }
            $('#btnAddContract').click(function () {

                $.ajax({
                    url: '@Url.Action("CreateContract", "Admin")',
                    type: "GET",
                    data: { id: ' ', companyId: $('#hdCompanyId').val() },
                    success: function (result) {
                        $("#contactcreate").html(result);
                    }
                });
            });

        });

        function Edit(id) {
            $.ajax({
                url: '@Url.Action("CreateContract", "Admin")',
                type: "GET",
                data: { id: id, companyId: $('#hdCompanyId').val() },
                success: function (result) {
                    $("#contactcreate").html(result);
                   // $('#addEditLabel').text('Edit Contract');

                }
            });
        }
        function Delete(id) {
            if (confirm("@Resource.DeleteConfMsg")) {
                $.ajax({
                    url: '@Url.Action("DeleteContract", "Admin")',
                    type: "Post",
                    contentType: 'application/json',
                    data: JSON.stringify({ id: id }),
                    success: function (result) {
                        var res = result.Message;
                        var arr = res.split(':');
                        if (arr[0] == "Success") {

                            window.location = '/Admin/Contracts'
                        }
                        else
                            alert(arr[1]);

                    }
                });
            }
        }

    </script>

}





