@model List<POSSUM.MasterData.AdminTerminal>
@{
    ViewBag.Title = "TerminalCodes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section BreadCrumb {
    <li class="crumb-trail" id="currentpage">@Resource.Company</li>
}

<section>
    <header id="topbar" class="ph10">
        <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">

                <li>
                    <a href="/Admin">@Resource.Company</a>
                </li>
                <li class="active">
                    <a href="/Admin/TerminalCodes">@Resource.Terminals</a>
                </li>
            </ul>
        </div>
       
    </header>



    <!-- begin: .tray-center -->
    <div class="tray tray-center ">
       
        <div class="panel mt25 top mb35">

            <div class="panel-body pn">
                <div class="table-responsive">
                    <table id="tbl_Company_Terminal" class="table admin-form theme-warning tc-checkbox-1 fs13">
                        <thead>
                            <tr class="bg-light">


                                <th class="">@Resource.Unique @Resource.Code</th>
                                <th class="">@Resource.Company</th>
                               
                            
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {


                                <tr>

                                    <td class="text-left">@item.UniqueIdentification</td>
                                    <td class="text-left">@item.Customer</td>
                                    

                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>


</section>


@section scripts {

    <script>
        $(function () {


            $('#tbl_Company_Terminal').dataTable({
                "processing": true, // control the processing indicator.

                "info": true,   // control table information display field
                "stateSave": true,  //restore table state on page reload,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],   // use the first inner array as the page length values and the second inner array as the displayed options
                "order": [[0, "asc"]],
                "iDisplayLength": 25,
                "aLengthMenu": [
                  [5, 10, 25, 50, -1],
                  [5, 10, 25, 50, "All"]
                ],
                "sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>'
        });


            var html = '<a href="/Admin">@Resource.Company</a>'
            $('#dsh').html(html);

            $('#terminal').addClass('active');
            $('#administration').addClass('active');
            if (!$('#menuadmin').hasClass('menu-open')) {

                $('#menuadmin').attr('style', '').toggleClass('menu-open');
            }


        });



    </script>

}
